##########################################
#                                        #
# config file for histogram filling code #
#                                        #
##########################################
#IMPORTANT: don't leave spaces after the parameters!

##########################################
# miscellaneous
##########################################
isMC true

##########################################
# event selection
##########################################
leadJetpTCut	  440.
sublJetpTCut	  50.
#yStarCut	  0.6
etaCut		  2.1
