##########################################
#                                        #
# config file for histogram filling code #
#                                        #
##########################################
#IMPORTANT: don't leave spaces after the parameters!

##########################################
# miscellaneous
##########################################
isMC true

##########################################
# event selection
##########################################
mjjCut		  1100.
leadJetpTCut	  440.
sublJetpTCut	  50.
yStarCut	  0.6
#etaCut		  2.1
